/* Logo.css */
.sidebar .top {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar .logo {
    width: 100px;
    height: auto;
    transition: width 0.3s ease;
  }
  
  .sidebar.collapsed .logo {
    width: 50px; /* Smaller logo when sidebar is collapsed */
  }
  
  .sidebar .logo:hover {
    cursor: pointer;
  }
  