.appointments-page {
    padding: 20px;
    margin: 20px 0;
  
  }
  
  .appointments-page.collapsed {
    margin-left: 80px;
  }
  
  h1 {
    color: #333;
  }
  
  .appointments-table {
    width: 97%;
    border-collapse: collapse;
  }
  
  .appointments-table th, .appointments-table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .appointments-table th {
    background-color: #f2f2f2;
  }
  